body{
    background-color: gainsboro;
}

h1   {
    color: darkcyan;
}
h3 {
    padding-left: 10px;
}

/* All the textboxes on the form */
input[type=text],
input[type=password]{
    margin:5px 10px 10px 20px;
    padding-left : 15px;
    width: 340px;
    height:25px;
    font-size:14pt;
    border: 3px solid red;
}

/* registration form css */
.leftDivClass
{
    position: fixed;
    width:20%; 
    margin-top: 1%;
    margin-left:auto;
    margin-right:80%;
}

/* login form css*/
.rightDivClass
{
    background-color: #005684;
    width:22%; 
    height:310px;
    position: fixed;
    margin-top: 1%;
    margin-left:22%;
    margin-right:auto;
}

/* special color and format css for register button */
.btnRegisterClass {
    margin:5px 10px 10px 240px;
    padding-left : 15px;
    width: 140px;
    height:45px;
    font-size:14pt;
    border: 3px solid darkblue;
}

/* checkbox alignment and color css */

input[type=checkbox]{
    margin-left:20px;
    margin-top:10px;
    color: white;
   
}
.checkBoxLabelClass{
    color:white;
    font-size:14pt;
}

/* special color and format css for login button */
.btnLoginClass {
    margin-left:90px;
    margin-top:10px;
    width: 140px;
    height:45px;
    font-size:14pt;
    border: 3px solid orange;
    background-color: #005684;
    color:white;
}

/* forgot password hyperlink css */
a:link {
    margin:15px 10px 10px 240px;
    padding-top: 25px;
    padding-left : 15px;
    color:white;
}
